body{
  background-color: lavender;
}

h1{
  font-family: Garamond;
  text-align: center;
  color: black;
  font-size: 6em;
  font-weight: bold;
}

h2{
  font-family: Garamond;
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
}