body{
  background-color: hsl(190 100% 82%);
  font-family: Monaco;
  padding: 30px;
  text-align: justify;
}

h1{
  text-align: center;
  color: black;
  font-size: 64px;
  font-weight: bold;
}

h2{
  text-align: center;
  color: black;
  font-size: 22px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
}

ol{
  margin-left: 25px;
  font-size: 18px;
}

p{
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.5em;
}

img{
  float: left;
  margin-right: 30px;
  margin-top: -10px;
  width: 460px;
  border: 4px solid;
  border-color: hsl(190 100% 30%);
}

.track-list{
  margin-top: 10px;
}

.reviews{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  margin-left: 25px;
  margin-top: 25px;
}