body{
  background-color: lavender;
  font-family: Garamond;
}

h1{
  text-align: center;
  color: black;
  font-size: 6em;
  font-weight: bold;
}

h2{
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#id1{
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 25px;
  margin-top: 25px;
}

ol{
  margin-left: 25px;
  font-size: 1.25em;
}

p{
  margin-left: 25px;
  margin-top: 25px;
  font-size: 1.25em;
}